{% extends "base.html" %}

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='styles2.css') }}"> -->
</head>
<body>
    {% block sidebar2 %}
    <div class="sidebar2" style="background-color: rgb(22, 76, 99);">
        <a href="/question_home">문제 제작 홈</a>        
        <span>국어</span>
        <a href="/question">객관식 문제</a>
    </div>
    {% endblock %}

    <div class="sidebar2_content">
        {% block content %}

        {% endblock %}
    </div>
</body>
</html>

