{% extends "question_side.html" %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Text Input Example</title>
</head>
<body>
    
    <h1>{{ results[0][0] }}</h1>
    

    <h1>지문</h1>
    <p>다음 글을 읽고 물음에 답하시오</p>
    <!-- 본문 -->
    <p>{{ results[0][1] }}</p>
    
    <h3>구성</h3>
    <!-- config -->
    <p>{{results[0][4]}}</p>

    <h3>분석</h3>
    <h4>글자 수</h4>
    <p>{{results[0][11]}}</p>
    <h4>난이도</h4>
    <p>{{results[0][10]}}</p>
    <h4>어려운 단어</h4>
    <p>{{results[0][7]}}</p>
    <p>{{results[0][8]}}</p>
    <p>{{results[0][9]}}</p>

    {% for que in question %}

    
    <h3>문제 {{ loop.index }}</h3>
    <p>보기</p>
    <!-- 문제 1 ~ 5 -->
    <p>{{que[4]}}</p>
    <p>{{que[5]}}</p>
    <p>{{que[6]}}</p>
    <p>{{que[7]}}</p>
    <p>{{que[8]}}</p>
    
    <p>정답</p>
    <p>{{que[9]}}</p>
    <p>해설</p>
    <p>{{que[3]}}</p>
    <p>예상 정답률</p>
    <p>{{que[15]}}</p>

    <p>선택지별 예상 채택률</p>
    
    <p>1번 {{que[10]}}</p>
    <p>2번 {{que[11]}}</p>
    <p>3번 {{que[12]}}</p>
    <p>4번 {{que[13]}}</p>
    <p>5번 {{que[14]}}</p>
    

    
    {% endfor %}
    
</body>
</html>

{% endblock %}
